# maui.cfg.tmpl for Maui v3.2.5

# full parameter docs at http://supercluster.org/mauidocs/a.fparameters.html
# use the 'schedctl -l' command to display current configuration

RMPOLLINTERVAL		00:00:30

SERVERHOST		rocks-cluster.fing.edu.uy
SERVERPORT		42559
SERVERMODE		NORMAL

RMCFG[base]		TYPE=PBS

# Admin: http://docs.adaptivecomputing.com/maui/a.esecurity.php
# ADMIN1 users have full scheduler control

ADMIN1                maui root siturria nrocchetti sergion gusera
ADMIN3                ALL

LOGFILE               maui.log
LOGFILEMAXSIZE        10000000
LOGLEVEL              3

# Job Priority: http://docs.adaptivecomputing.com/maui/5.1jobprioritization.php

QUEUETIMEWEIGHT       1

# FairShare: http://docs.adaptivecomputing.com/maui/6.3fairshare.php

FSPOLICY              PSDEDICATED
FSDEPTH               7
FSINTERVAL            86400
FSDECAY               0.80

# Throttling Policies: http://docs.adaptivecomputing.com/maui/6.2throttlingpolicies.php

#USERCFG[DEFAULT] MAXJOB=50,100 MAXPROC=64,128 MAXPS=36000000,72000000
#USERCFG[DEFAULT] MAXJOB=50,100 MAXPROC=64,128 MAXPS=36000000
#USERCFG[DEFAULT] MAXJOB=50,100 MAXPROC=64,128 MAXPS=18000000
USERCFG[DEFAULT] MAXJOB=50,100 MAXPROC=64,128
# Current configuration: 100 jobs
#                        128 cores
#                        10.000 cores-hora

# Backfill: http://docs.adaptivecomputing.com/maui/8.2backfill.php

BACKFILLPOLICY        BESTFIT

# Reservation policies: http://docs.adaptivecomputing.com/maui/7.1.4reservationpolicies.php
RESERVATIONPOLICY     CURRENTHIGHEST
RESERVATIONDEPTH      24

# Node Allocation: http://docs.adaptivecomputing.com/maui/5.2nodeallocation.php

NODEALLOCATIONPOLICY  MINRESOURCE

# QOS: http://supercluster.org/mauidocs/7.3qos.html

# QOSCFG[hi]  PRIORITY=100 XFTARGET=100 FLAGS=PREEMPTOR:IGNMAXJOB
# QOSCFG[low] PRIORITY=-1000 FLAGS=PREEMPTEE

# Standing Reservations: http://supercluster.org/mauidocs/7.1.3standingreservations.html

# SRSTARTTIME[test] 8:00:00
# SRENDTIME[test]   17:00:00
# SRDAYS[test]      MON TUE WED THU FRI
# SRTASKCOUNT[test] 20
# SRMAXTIME[test]   0:30:00

SRCFG[eolo.0] PERIOD=INFINITY
SRCFG[eolo.0] HOSTLIST=node02
SRCFG[eolo.0] USERLIST=eolico
SRCFG[eolo.0] PRIORITY=1000

SRCFG[eolo.1] PERIOD=INFINITY
SRCFG[eolo.1] HOSTLIST=node05
SRCFG[eolo.1] USERLIST=eolico
SRCFG[eolo.1] PRIORITY=1000

SRCFG[eolo.2] PERIOD=INFINITY
SRCFG[eolo.2] HOSTLIST=node20
SRCFG[eolo.2] USERLIST=eolico
SRCFG[eolo.2] PRIORITY=1000

SRCFG[eolo.3] PERIOD=INFINITY
SRCFG[eolo.3] HOSTLIST=node03
SRCFG[eolo.3] USERLIST=eolico
SRCFG[eolo.3] PRIORITY=1000

# Creds: http://supercluster.org/mauidocs/6.1fairnessoverview.html

# USERCFG[DEFAULT]      FSTARGET=25.0
# USERCFG[john]         PRIORITY=100  FSTARGET=10.0-
# GROUPCFG[staff]       PRIORITY=1000 QLIST=hi:low QDEF=hi
# CLASSCFG[batch]       FLAGS=PREEMPTEE
# CLASSCFG[interactive] FLAGS=PREEMPTOR

